<p id="notice"><%= notice %></p>

<h1 class="">Clínicas</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Complemento</th>
      <th>Municipio</th>
      <th>Cep</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Telefone1</th>
      <th>Telefone2</th>
      <th>Email</th>
      <th>Publico</th>
      <th>Publico especifico</th>
      <th>Sexo publico</th>
      <th>Modalidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clinicas.each do |clinica| %>
      <tr>
        <td><%= clinica.nome %></td>
        <td><%= clinica.endereco %></td>
        <td><%= clinica.complemento %></td>
        <td><%= clinica.municipio %></td>
        <td><%= clinica.cep %></td>
        <td><%= clinica.latitude %></td>
        <td><%= clinica.longitude %></td>
        <td><%= clinica.telefone1 %></td>
        <td><%= clinica.telefone2 %></td>
        <td><%= clinica.mail %></td>
        <td><%= clinica.publico %></td>
        <td><%= clinica.publico_especifico %></td>
        <td><%= clinica.sexo_publico %></td>
        <td><%= clinica.modalidade %></td>
        <td><%= link_to 'Mostrar', clinica,class: "btn btn-success  btn-small" %></td>
        <td><%= link_to 'Editar', edit_clinica_path(clinica),class: "btn btn-warning  btn-small" %></td>
        <td><%= link_to 'Excluir', clinica,class: "btn btn-danger  btn-small", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Voltar', root_path,class: "btn btn-warning  btn-small" %>
