<div class="bgwhite">
<p id="notice"><%= notice %></p>

<h1 class="">Clínicas</h1>


<% if @search.result.blank? %>
      <div class="alert alert-danger" role="alert" ><button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Erro!<p></p></strong> Clínica não encontrada.
      </div>
      <% else %>
      <table class="table table-hover", border="1">
        <thead>
        <tr class= "info">
          <th><%= sort_link(@search, :nome, "Nome") %></th>
          <th><%= sort_link(@search, :estado, "Estado") %></th>
          <th><%= sort_link(@search, :modalidade, "Modalidade") %></th>

        </tr>
        </thead>
        <tbody>
        <% @clinics.each do |clinic| %>
            <tr class= "info">
              <td><%= link_to clinic.nome, clinic %></td>
              <td><%= clinic.estado %></td>
              <td><%= clinic.modalidade %></td>


            </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @clinics, previous_label: h("<"), next_label: h(">")%>
    <% end %>
<%= will_paginate @clinics, previous_label: h("<"), next_label: h(">")%>
<br>

<%= link_to 'Voltar', root_path,class: "btn btn-warning  btn-small" %>
</div>
