<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @clinica.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @clinica.endereco %>
</p>

<p>
  <strong>Complemento:</strong>
  <%= @clinica.complemento %>
</p>

<p>
  <strong>Municipio:</strong>
  <%= @clinica.municipio %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @clinica.cep %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @clinica.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @clinica.longitude %>
</p>

<p>
  <strong>Telefone1:</strong>
  <%= @clinica.telefone1 %>
</p>

<p>
  <strong>Telefone2:</strong>
  <%= @clinica.telefone2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @clinica.mail %>
</p>

<p>
  <strong>Publico:</strong>
  <%= @clinica.publico %>
</p>

<p>
  <strong>Publico especifico:</strong>
  <%= @clinica.publico_especifico %>
</p>

<p>
  <strong>Sexo publico:</strong>
  <%= @clinica.sexo_publico %>
</p>

<p>
  <strong>Modalidade:</strong>
  <%= @clinica.modalidade %>
</p>
<% if current_user%>
<% if current_user.has_role? :admin%>
<%= link_to 'Edit', edit_clinica_path(@clinica) %> |
<% end %>
<% end %>
<%= link_to 'Voltar', clinicas_path,class: "btn btn-warning  btn-small" %>

