<nav class="navbar navbar-default " role="navigation">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
         data-target="#example-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
   </div>

   <div class="collapse navbar-collapse" id="example-navbar-collapse">
      <ul class="nav navbar-nav">
         <li><a href="<%=root_path%>" class="colorwhite"><i class="fa fa-home "></i> Início </a></li>

         <li><a href="<%=drugs_path%>" class="colorwhite">Drogas</a></li>
         <li><a href="<%=clinicas_path%>" class="colorwhite">Clínicas</a></li>
         <% if user_signed_in? %>
         <% if current_user.has_role? :admin%>
         <li class="clorwhite ">Logado com <%= current_user.email %></li>

         <li><a href="<%=new_parser_path%>" class="colorwhite">Parser</a></li>
         <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
         <% end %>

         <% else %>
         <li class="pull-right"><%= link_to "Admin", new_user_session_path %></li>
         <% end %>
      </ul>

   </div>

</nav>
